.generate-html-display-box {
  position: absolute;
  top: 40%;
  left: 50%;
  background-color: rgb(223, 223, 223);
  font-size: 25px;
  transform: translateX(-50%);
  transform: translateY();
  width: 80%;
}
