.generate-heading-text-box {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.generate-heading-primary {
  color: rgb(223, 223, 223);
  text-transform: uppercase;
}

.generate-heading-primary-main {
  display: block;
  position: relative;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 11.5px;
  margin-bottom: 8px;
}

.generate-heading-primary-sub {
  display: block;
  position: relative;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 3.35px;
}

.side-by-side-container {
  display: flex;
  justify-content: space-around; /* This spreads out the items evenly. You can adjust this as needed. */
}
