.preview-main {
  background-color: white;
}

.preview-container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background-color: white;
  display: flex;
}

.flex-container-edit {
  box-shadow: 10px 5px 5px rgb(200, 200, 200);
  border: black;
  border: solid;

  margin-bottom: 10px;
  margin-left: 10px;
  padding: 20px;
  width: 30%;
}

.flex-container-ad {
  box-shadow: 10px 5px 5px rgb(200, 200, 200);
  border: black;
  border: solid;
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 20px;
}

.flex-container-button {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 20px;
  width: 20px;
  height: 20px;
}

.preview-button-leftmost {
  margin-left: 30px;
}

.preview-button {
  width: auto;
}

.preview-button-active {
  background-color: rgb(0, 255, 0);
}
